.story_circle {
    background-color: #000;
    width: 80px;
    border-radius: 50%;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  